@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

canvas {
  border: 1px black solid;
  background-color: yellow;
}
#textCanvas {
  display: hidden;
}

/* @font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
} */
